services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: petcare
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 4001
      DATABASE_URL: postgres://postgres:postgres@db:5432/petcare
      JWT_SECRET: devsecret
    depends_on:
      - db
    ports:
      - '4001:4001'
    volumes:
      - uploads_data:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      VITE_API_URL: http://backend:4001
    depends_on:
      - backend
    command: ["npm","run","preview","--","--port","5173","--host"]
    ports:
      - '8080:5173'

volumes:
  db_data:
  uploads_data: